.main{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;
}

.section{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 95%;
}

.sobre{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 250px;
    padding-top: 50px;

    background-color: #1c60fc;
    color: white;
}

.txtSobre{
    display: flex;
    flex-direction: column;

    gap: 10px;
    width: 95%;
}

.historia{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.container{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 10px;
    margin-top: 50px;
}

.container .imgLisboa{
    border: 1px solid;
    width: 100%;
}

.imgLisboa img{
    border-radius: 20px;
    width: 100%;
}

.txtHistoria{
    width: 100%;
}

.txtHistoria p{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    text-align: justify;

    line-height: 1.6;
    gap: 10px;
    
    font-size: 14px;
}

.valores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardVal{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 30px;
    margin: 50px 0;
}

.val{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 10px;
    width: 100%;
}

.val img{
    width: 50px;
}

.infra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardInfra{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;

    width: 100%;
    margin-top: 50px;
}

.divInfra{
    border: 1px solid;
    display: flex;
    flex-direction: column;
    
    gap: 15px;
    width: 100%;
}

.cardInfra img{
    border-radius: 15px;
    width: 100%;
}

.txtInfra{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-bottom: 50px;
}

.txtEquipe{
    margin-top: 50px;
    width: 100%;
}

.txtEquipe p{
    display: flex;
    flex-direction: column;
    
    gap: 30px;
}

@media screen and (min-width: 1024px) {
    .cardVal{
        flex-direction: row;
    }

    .cardInfra{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .divInfra{
        width: 400px;
        justify-content: center;
    }

    .txtEquipe{
        width: 800px;
    }
}

@media screen and (min-width: 1440px) {
    .section{
        width: 1300px;
    }

    .sobre{
        justify-content: center;
    }

    .txtSobre{
        width: 1300px;
    }

}

