header {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.5);
}

.cabeçalho {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 1300px;
    height: 50px;
    font-size: 15px;
    margin: 0 20px 0 20px;
}

.cabeçalho .cabeçalhoLogo:first-child{
    margin-right: auto;
}

.cabeçalho .logo{
    text-decoration: none;
    color: #1c60fc;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu li {
    list-style: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    z-index: 101;
}

.sidebar .menu {
    flex-direction: column;
}


@media (max-width: 920px) {
    .hideMobile {
        display: none;
    }
}  

@media (min-width: 1024px) {
    .hideDesktop {
        display: none;
    }
}